<div class="update-book">
    <form  #form="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="title" class="required">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Book Title" 
            name="title" [(ngModel)]="updateBookForm.title" #title="ngModel" required>
            <div class="text-danger" *ngIf="title.invalid && title.touched">
                <div *ngIf="title.errors?.['required']">Title is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="author" class="required">Author</label>
            <input type="text" class="form-control" id="author" placeholder="Book Author" 
            name="author" [(ngModel)]="updateBookForm.author" #author="ngModel" required>
            <div class="text-danger" *ngIf="author.invalid && author.touched">
                <div *ngIf="author.errors?.['required']">Author is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="required">Description</label>
            <textarea type="text" class="form-control" id="description" placeholder="Book Description" 
            name="description" [(ngModel)]="updateBookForm.description" #description="ngModel" required>
            </textarea>
            <div class="text-danger" *ngIf="description.invalid && description.touched">
                <div *ngIf="description.errors?.['required']">Description is required.</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xs-4 col-sm-4">
                <div class="form-group">
                    <label for="dateStart">Date start</label>
                    <input type="date" class="form-control" id="dateStart" placeholder="Date Start" name="dateStart" [(ngModel)]="updateBookForm.dateStart">
                </div>
            </div>
            <div class="col-md-4 col-xs-4 col-sm-4">
                <div class="form-group">
                    <label for="dateRead">Date Read</label>
                    <input type="date" class="form-control" id="dateRead" placeholder="Date Read" name="dateRead" [(ngModel)]="updateBookForm.dateRead">
                </div>
            </div>
            <div class="col-md-4 col-xs-4 col-sm-4">
                <div class="form-group">
                    <label for="rate">Rate</label>
                    <input type="number" min="0" max="5" class="form-control" id="rate" placeholder="Rate" name="rate" [(ngModel)]="updateBookForm.rate">
                </div>
            </div>
        </div>
        <button class="btn btn-success mt-2 me-2" type="submit" [disabled]="form.invalid">Update</button>
        <button class="btn btn-default mt-2" [routerLink]="['/books']">Cancel</button>
    </form>
    
</div>